.headercontainer {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
 
.headerparts {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
  margin: 10px;
}

.headercontainer .link {
  font-size: 20px;
  letter-spacing: 5px;
  font-family: Nue Gothic;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  .headercontainer {
    width: 100%;
  }

  .headercontainer .link {
    font-size: 10px;
    letter-spacing: 1px;
    font-family: Nue Gothic;
    text-decoration; none;
  }
}