p.guide {
  margin-top: 60px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: palatino;
  font-size: 18px;
  line-height: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

body {
  margin: 0;
}
  
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}
  
h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 66px;
  margin-top: 10vh;
  letter-spacing: 10px;
}
  
.accordion-container {
  width: 60%;
  min-width: 500px;
  margin: 5vh auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:-2px 1px 2px 2px #212121;
}
    
div {
  border-bottom: 3px solid;
  transition: border-color 0.5s ease-in;
}
  
  
.answer, .summary {
  display: inline-block;
}
  
.summary {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 25px;
  padding: 15px;
}
  
.folding-pannel {
  display: block;
  transition: all 0.2s ease-in;
  line-height: 40px;
  border-top: 2px solid #39a098;
}
  
.active .summary {
  border-color: transparent;
  transition: border-color 0.2s ease-out;
}
  
.inactive .folding-pannel {
  transform-origin: 50% 0%;
  transform: perspective(250px) rotateX(-90deg);
  transition: all 0.4s ease-in-out;
  height: 0;  
}

.active .folding-pannel {
  transform: perspective(350px) rotateX(0deg);
  transition: all 0.4s ease-in-out;
  height: 50px;
  line-height: 50px;
  text-indent: 40px;
}
  